/* Navbar */
.terminal-logo {
    margin-left: 25px;
    text-transform: uppercase;
}

.terminal-menu {
    margin-right: 25px;
}

/* Auth Forms */
.auth-form {
    margin: 0 auto;
    max-width: 400px;
}
