/* Navbar */
.terminal-logo {
    margin-left: 25px;
    text-transform: uppercase;
}

.terminal-menu {
    margin-right: 25px;
}

/* Auth Forms */
.auth-form {
    margin: 0 auto;
    max-width: 400px;
}

/* Homepage */
.terminal-card-welcome,
.terminal-timeline-rules {
    margin: 50px auto;
    width: 70vw;
}

/* Chat */
.terminal-chat {
    position: relative;
    height: 100vh;;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

.terminal-chat-input {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.terminal-chat-badge {
    background-color: #d20962;
}
